/**
 * This file contains the SCSS variables of the app.
 */

// Color of the text.
$text-color: #000;

// Color of the text on accent background.
$accent-text-color: #fff;

// Accent color.
$accent-color: #987EFB;

// Main color.
$main-color: #5079E0;

// Card background.
$card-background: #fff;

// Footer background.
$footer-background: #F8F8F8;

// Application background.
$background: #FFF;

// Contrast background.
$background-contrast: #F2F2F2;

// Color of the circle of a bubble item.
$bubble-circle-color: #EBEBEB;

// Height of the header.
$header-height: 70px;
