/**
 * This file contains global UI definitions.
 */

@import 'variables';

/* Top header. */
header.material-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: $header-height;
  width: 100%;
  color: $accent-text-color;
  background-color: $accent-color;
  z-index: 200;

  button {
    margin: 0 15px;
    
    img {
      height: 17px;
    }
  }

  p {
    font-size: 23px;
    font-weight: bold;
  }
}


.card {
  border-radius: 20px;
  padding: 20px 25px;
  padding-bottom: 0;
  background-color: $card-background;
  width: 375px;

  .card-title {
    font-weight: 700;
    font-size: 19px;
    padding-bottom: 25px;
    color: $text-color;
  }

  .card-footer {
    padding-top: 25px;
    padding-bottom: 12px;
  }
}


// Bubble list.
.bubble-list {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  list-style-type: none;

  & > li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 71px;
    padding: 8px 10px;
    border-radius: 10px;
    outline: none;

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: $bubble-circle-color;

      p {
        color: $main-color;
        font-size: 26px;
        font-weight: 700;
      }

      img {
        fill: $main-color;
        height: 26px;
      }
    }

    .description {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      height: 100%;
      margin-left: 20px;

      p {
        color: $text-color;

        &.title {
          font-weight: bold;
          font-size: 17px;
        }

        &.subtitle {
          font-size: 13px;
          opacity: .5;
          margin-top: 3px;
        }
      }
    }

    // Optional action.
    .action {
      display: flex;
      margin-left: auto;
      opacity: .7;
      color: $text-color;
    }
  }

  & > li + li {
    margin-top: 12px;
  }
}
