

::ng-deep {

  @keyframes slidein {
    from {
      position: fixed;
      bottom: -80px;
      opacity: 1;
    }
  
    to {
      position: fixed;
      bottom: 16px;
      opacity: 1;
    }
  }

  .main-action {
    position: absolute;
    // bottom: 16px;
    opacity: 0;
    right: 16px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slidein .3s linear .45s forwards;
    z-index: 2000;
  
    img {
      height: 27px;
    }
  }
}
