<form [formGroup]="form" (ngSubmit)="doSearch()">
  <button class="search" type="submit" mat-icon-button>
    <mat-icon>searchbar</mat-icon>
  </button>

  <input formControlName="input" type="text"/>

  <div class="clear-container" [class.hide]="input.value.length === 0">
    <button class="clear" (click)="clear()" type="button" mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</form>
