form {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  background-color: rgba($color: #fff, $alpha: .22);
  border-radius: 10px;
  height: 53px;
  overflow: hidden;
  transition: background-color .2s linear 0s;

  &:focus-within {
    background-color: rgba($color: #fff, $alpha: .3);
  }

  .search::after {
    content: '';
    position: absolute;
    right: -5px;
    top: 22%;
    height: 56%;
    width: 1px;
    opacity: .37;
    background-color: #fff;
  }

  .clear-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    transform: scale(1);
    transition: all .2s linear 0s;

    &.hide {
      transform: scale(0);
    }
  }

  input {
    display: flex;
    flex-grow: 1;
    height: 100%;
    padding-right: 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
  }
}
