<div class="page">
  <header class="material-header">
    <div class="title">
      <button routerLink="/" mat-icon-button>
        <img src="../../../../assets/images/icons/arrow-back.svg"/>
      </button>
    
      <p>Compétences</p>
    </div>

    <app-searchbar></app-searchbar>
  </header>

  <div class="content">
    <mat-accordion [multi]="true">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header collapsedHeight="63px" expandedHeight="63px">
          <mat-panel-title>Technologies maitrisées</mat-panel-title>
        </mat-expansion-panel-header>

        <ul class="bubble-list">
          <li *ngFor="let skill of skills" matRipple>
            <div class="image">
              <img *ngIf="skill.logo; else letter" [src]="skill.logo"/>
      
              <ng-template #letter>
                <p>{{ skill.name | slice:0:1 }}</p>
              </ng-template>
            </div>
      
            <div class="description">
              <p class="title">{{ skill.name }}</p>
              <p class="subtitle">{{ skill.description }}</p>
            </div>
      
            <button [routerLink]="'/skills/' + skill.id" class="action" mat-icon-button>
              <mat-icon>info</mat-icon>
            </button>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header collapsedHeight="63px" expandedHeight="63px">
          <mat-panel-title>Vu sur temps personnel</mat-panel-title>
        </mat-expansion-panel-header>
        
        
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <app-footer></app-footer>
</div>

