@import 'variables';

// Page header.
header.material-header {
  flex-flow: column wrap;
  align-items: flex-start;
  height: 141px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  .title {
    display: flex;
    align-items: center;
    height: $header-height;
    width: 100%;
  }

  app-searchbar {
    width: 100%;
    padding: 0 24px;
  }
}

.content {
  margin-top: 141px;
}

.bubble-list {
  margin-top: 15px;
}

::ng-deep {
  .mat-expansion-panel-header {
    background-color: #F2F2F2 !important;
    box-shadow: none !important;
    outline: none;
  }

  .mat-expansion-panel-header-title {
    font-size: 18px;
    font-weight: 500;
  }

  .mat-expansion-panel-header-title, .mat-expansion-indicator::after {
    color: rgba($color: #000000, $alpha: .6) !important;
  }

  .mat-expansion-panel {
    box-shadow: none !important;
  }

  .mat-expansion-panel-body {
    background-color: #fff;
  }

  .mat-expanded {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
