<div class="page">
  <header class="material-header">
    <button routerLink="/" mat-icon-button>
      <img src="../../../../assets/images/icons/arrow-back.svg"/>
    </button>
  
    <p>Projets</p>
  </header>

  <mat-tab-group color="accent" backgroundColor="accent">
    <mat-tab label="Professionnel">
      <div class="tab-content">
        <ng-container
          [ngTemplateOutlet]="listProjects"
          [ngTemplateOutletContext]="{projects: proProjects}"
        ></ng-container>
      </div>
    </mat-tab>
  
    <mat-tab label="Personnel">
      <div class="tab-content">
        <ng-container
          [ngTemplateOutlet]="listProjects"
          [ngTemplateOutletContext]="{projects: personalProjects}"
        ></ng-container>
      </div>
    </mat-tab>
  
    <mat-tab label="École">
      <div class="tab-content">
        <ng-container
          [ngTemplateOutlet]="listProjects"
          [ngTemplateOutletContext]="{projects: schoolProjects}"
        ></ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>
  
  <!-- How to display a list of projects. -->
  <ng-template #listProjects let-projects='projects'>
    <ul class="bubble-list">
      <li *ngFor="let project of projects" matRipple>
        <div class="image">
          <img *ngIf="project.logo; else letter" [src]="project.logo"/>
  
          <ng-template #letter>
            <p>{{ project.name | slice:0:1 }}</p>
          </ng-template>
        </div>
  
        <div class="description">
          <p class="title">{{ project.name }}</p>
          <p class="subtitle">{{ project.description }}</p>
        </div>
  
        <button [routerLink]="'/projects/' + project.id" class="action" mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
      </li>
    </ul>
  </ng-template>

  <app-footer></app-footer>
</div>
