@import 'variables';

$tab-height: 55px;

// Tabs adjustments.
::ng-deep .mat-tab-group {
  overflow-y: hidden;

  .mat-tab-header {
    position: absolute;
    top: $header-height - 1px;
    left: 0;
    width: 100%;
    height: $tab-height;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 150;

    .mat-tab-label {
      height: $tab-height !important;

      .mat-tab-label-content {
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }

  .mat-tab-label-active {
    opacity: 1;
  }
}

mat-tab-group {
  width: 100%;
}

// Content in the tabs.
.tab-content {
  width: 100%;
  padding: 25px 30px;
  padding-top: $header-height + $tab-height + 25px;
  background-color: #fff;
}

// Tweaks.
.bubble-list {
  max-width: 500px;
  margin: auto;
}
