@import 'variables';

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $background;
  z-index: 200;
  transition: transform .2s linear 0s, border-radius .22s linear 0s;

  & > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10000;
    border-radius: 34px;
    transition: background-color .15s linear 0s;

    &:hover {
      background-color: rgba($color: #fff, $alpha: .3);
    }
  }

  main {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

$menu-text-color: #262626;

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  background-color: $background-contrast;
  z-index: 10;

  .quick-overview {
    padding-top: 12vh;

    .avatar {
      height: 82px;
      width: 82px;
      margin: auto;
      background-color: rgba($color: #000, $alpha: .18);
      border-radius: 50%;
    }

    p {
      color: $menu-text-color;

      &.name {
        font-weight: bold;
        font-size: 22px;
        margin-top: 3px;
      }

      &.job {
        font-size: 14px;
        opacity: .6;
        margin-top: 4px;
      }
    }
  }

  ul {
    display: flex;
    flex-grow: 1;
    flex-flow: column wrap;
    padding: 40px 0;

    li {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: fit-content;
      color: #2E2E2E;
      padding: 15px 20px;
      border-radius: 8px;
      outline: none;
      opacity: .6;

      &.active {
        color: darken($accent-color, 15%);
      }

      & + li {
        margin-top: 20px;
      }

      mat-icon {
        font-size: 24px;
      }

      p {
        margin-left: 18px;
        font-weight: 500;
        font-size: 17px;
      }

      &:last-child {
        margin-top: auto !important;
      }
    }
  }
}

.opened .main-container {
  border-radius: 34px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  transform: scale(.76) translateX(60%);

  & > .overlay {
    display: block;
  }
}
