<div class="app" [class.opened]="menuState$ | async">

  <div class="main-container">
    <div (click)="returnToView()" class="overlay"></div>

    <main [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
  </div>

  <nav class="menu">
    <div class="quick-overview">
      <img class="avatar" src="../assets/images/avatar.png"/>
      <p class="name">Anthony Gueusset</p>
      <p class="job">Dev. Full-Stack</p>
    </div>

    <ul>
      <li routerLink="/dashboard" routerLinkActive="active" matRipple>
        <mat-icon>home</mat-icon>
        <p>Accueil</p>
      </li>

      <li routerLink="/skills" routerLinkActive="active" matRipple>
        <mat-icon>build</mat-icon>
        <p>Compétences</p>
      </li>

      <li routerLink="/projects" routerLinkActive="active" matRipple>
        <mat-icon>work</mat-icon> 
        <p>Projets</p>
      </li>

      <li matRipple>
        <mat-icon>email</mat-icon>
        <p>Contactez-moi</p>
      </li>
    </ul>
  </nav>
</div>
