@import 'variables';

footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: $footer-background;

  ul {
    list-style-type: none;
    padding-left: 30px;

    li > a {
      color: $text-color;
      font-size: 12px;
      text-transform: uppercase;
      opacity: .65;
    }
  }
}
