@import 'variables';
@import './assets/style/theme.scss';

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

body {
  background-color: $background;
}

.page {
  height: 100%;
  max-height: 100%;
  overflow: auto;

  app-footer {
    display: block;
  }
}
