<div class="page">

  <header class="quick-overview">
    <button (click)="openMenu()" mat-icon-button class="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <img class="avatar" src="../../../assets/images/avatar.png"/>

    <div class="informations">
      <p class="title">Anthony Gueusset</p>
      <p class="subtitle">Développeur full-stack</p>
    </div>
  </header>

  <nav class="quick-actions">
    <div class="actions">
      <a mat-icon-button href="https://www.linkedin.com/in/anthony-gueusset/" target="_blank">
        <img src="../../../assets/images/icons/linkedin.svg"/>
      </a>
    
      <a mat-icon-button href="https://gitlab.com/JScriber" target="_blank">
        <img src="../../../assets/images/icons/gitlab.svg"/>
      </a>
    
      <a mat-icon-button href="" target="_blank">
        <img src="../../../assets/images/icons/download.svg"/>
      </a>
    </div>
  </nav>

  <div class="content">

    <div class="card">
      <div class="card-title">Compétences</div>

      <div class="card-content">
        <ul class="bubble-list">
          <li *ngFor="let skill of skills" matRipple [routerLink]="'/skills/' + skill.id">
            <div class="image">
              <img [src]="skill.logo"/>
            </div>

            <div class="description">
              <p class="title">{{ skill.name }}</p>
              <p class="subtitle">{{ skill.description }}</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="card-footer">
        <button routerLink="/skills" mat-button color="accent">Voir plus</button>
      </div>
    </div>

    <div class="card">
      <div class="card-title">Projets</div>

      <div class="card-content">
        <ul class="bubble-list">
          <li *ngFor="let project of projects" matRipple [routerLink]="'/projects/' + project.id">
            <div class="image">
              <img *ngIf="project.logo; else letter" [src]="project.logo"/>

              <ng-template #letter>
                <p>{{ project.name | slice:0:1 }}</p>
              </ng-template>
            </div>

            <div class="description">
              <p class="title">{{ project.name }}</p>
              <p class="subtitle">{{ project.description }}</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="card-footer">
        <button routerLink="/projects" mat-button color="accent">Voir plus</button>
      </div>
    </div>

    <div class="card">
      <div class="card-title">Expérience</div>
    
      <div class="card-content">
        <ul class="enterprises">
          <li *ngFor="let enterprise of enterprises">
            <p class="status">{{ enterprise.status }}</p>
            <p class="date">{{ enterprise.date }}</p>
            <div class="enterprise">
              <img [src]="enterprise.enterpriseLogo"/>
              <p>{{ enterprise.enterpriseName }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-title">Langues</div>
    
      <div class="card-content">
        <ul class="languages">
          <li>
            <img src="../../../assets/images/icons/french-flag.svg"/>
            <p class="name">Français</p>
            <p class="level">Maternelle</p>
          </li>

          <li>
            <img src="../../../assets/images/icons/usa-flag.svg"/>
            <p class="name">Anglais</p>
            <p class="level">B2</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
