@import 'variables';

// Menu.
.menu {
  position: absolute;
  top: 20px;
  left: 24px;
  background: transparent;
  z-index: 200;

  height: 50px;
  width: 50px;

  mat-icon {
    position: relative;
    left: -5px;
    font-size: 35px;
    color: rgba($color: $accent-text-color, $alpha: .95);
  }
}

// Main header.
.quick-overview {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  height: 255px;
  width: 100%;
  transition: height .2s linear 0s;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::after {
    background-color: rgba($color: #fff, $alpha: .15);
    z-index: -1;
  }

  &::before {
    background-image: url('../../../assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    background-color: darken($color: $accent-color, $amount: 30);
    z-index: -2;
  }

  img.avatar {
    margin-top: 20px;
    height: 122px;
    width: 122px;
    background-color: rgba($color: $accent-text-color, $alpha: .4);
    border-radius: 50%;
    backdrop-filter: blur(3px);
  }

  .informations {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    p {
      color: $accent-text-color;
      font-weight: bold;
  
      // Name.
      &.title {
        font-size: 34px;
        margin-top: 16px;
      }
  
      // Job.
      &.subtitle {
        font-size: 15px;
        text-transform: uppercase;
        margin-top: 4px;
        opacity: .9;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .quick-overview {
    flex-flow: row nowrap;
    justify-content: center;
    height: 180px;

    img.avatar {
      margin-top: 0;
    }

    .informations {
      align-items: flex-start;
      margin-left: 20px;
    }
  }
}

// Links.
.quick-actions {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 75px;
  margin: auto;
  color: $accent-text-color;
  background-color: $accent-color;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 200;

  .actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    min-width: 320px;
  }

  // Add some padding for the cursor.
  img {
    padding: 10px;
  }
}

.dashboard-page {
  width: 100%;
}

// Card container.
.content {
  padding: 22px 18px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(375px, 1fr) );
  grid-gap: 15px;
  width: 100%;
  justify-items: center;
  align-items: start;
  background-color: #F2F2F2;

  max-width: 834px;
  margin: auto;
}

// Card modifications.
.card-content .bubble-list {
  padding: 0 10px;
}

.card-footer button {
  width: 100%;
  text-transform: uppercase;
  border-radius: 8px;
}


// Languages.
.languages {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding-top: 8px;
  padding-bottom: 40px;

  li {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    img {
      height: 53px;
      width: 53px;
    }

    p {
      color: $text-color;
      font-weight: 700;

      &.name {
        font-size: 18px;
        margin-top: 10px;
      }

      &.level {
        font-size: 11px;
        opacity: .6;
        margin-top: 2px;
      }
    }
  }

  li + li {
    margin-left: 65px;
  }  
}

// Experience.
.enterprises {
  list-style-type: none;
  margin-left: 80px;
  padding-bottom: 30px;

  li {
    position: relative;
    display: flex;
    flex-flow: column wrap;

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: -40px;
      width: 13px;
      height: 13px;
      background-color: $main-color;
      border-radius: 50%;
    }

    p {
      color: $text-color;

      &.status {
        font-weight: 700;
        font-size: 17px;
      }

      &.date {
        font-size: 13px;
        opacity: .5;
        margin-top: 2px;
      }
    }

    .enterprise {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-left: 4px;

      img {
        height: 20px;
        width: 20px;
        border-radius: 50%;
      }

      p {
        margin-left: 3px;
        font-size: 12px;
        opacity: .7;
      }
    }
  }

  li + li {
    margin-top: 15px;

    &::after {
      content: '';
      position: absolute;
      top: -60px;
      left: -35px;
      width: 2px;
      height: 65px;
      background-color: $main-color;
    }
  }
}
